.git
.github
.venv
__pycache__
.pytest_cache
.ruff_cache
.mypy_cache
.ipynb_checkpoints
notebooks
tests
var/data/raw
var/data/interim
reports
mlruns
reports/tuning
*.pyc
*.pyo
*.pyd
.env
.vscode
.idea
